*
{
    font-family: Helvetica, FreeSans, Arial, 'Bitstream Vera Sans', sans-serif;
    /*  line-height: 1.2em; */
    font-weight: 100;

    margin: 0;
    padding: 0;

    text-decoration: none;
}

.add-button {
    background-color: orange;
    border-style: none;
    height: 60px;
    width: 200px;
    left: 100px;
    position: relative;
}

.login
{
    clear: both;

    padding-top: .2em;
    padding-right: 15px;  

    text-align: right;

    color: black;
}

.main-section
{
    background-color: white;
}

.tidbit a
{
    color: black;
}

a.votedown span
{
    font-size: 8pt;
}

tr.tidbit:hover
{
    background-color: rgba(128, 128, 128, .35);
}

.tabs
{
    display: flex;
    /*padding: 0.2em; */

    background-color: #c1c1c1;
    /*  justify-content: space-around; */
}

.top-tabs
{
    display: flex;
    /*padding: 0.2em; */

    background-color: #E8E8E8;
    /*  justify-content: space-around; */
}

td
{
    padding-top: 15px;
    padding-bottom: 15px;
}

table
{
    padding-right: 50px;
    padding-left: 50px;
}

label
{
    display: inline-block;

    width: 100px;

    text-align: right;
    vertical-align: top;
}

.logo
{
    height: 65px;
}

.submit_tidbit
{
  background-color: #E8E8E8;
    margin: 2em;
}
.submit_tidbit p
{
    padding: .2em;
}
.votecontrols
{
    float: left;
}
.quoteid
{
    display: none;
}
.del
{
    padding-right: 1em;
}
.error
{
    font-weight: bold; 

    color: red;
}
.gamehint
{
    display: none;

    color: black; 
    background: yellow;
}
.next
{
    padding-top: 1em;
    padding-left: 3em;

    background-color: white;
}

.nav
{
    margin-right: -.2em; 
    margin-left: .5em;
}
.nav a
{
    color: white;
}
.nav a.active
{
    background-color: orange;
}

.top-tabs .nav a {
    color: black;
}

.top-tabs .nav a.active
{
    background-color: white;
    color: orange;
}

.voteup,
.votedown
{
    cursor: pointer; 
    vertical-align: middle;
}
.index
{
    padding-right: .5em;
}
.quote
{
    width: 100%;
    padding: .5em;
}
.quoteinfo
{
    padding: 1em;
    padding-left: 2em;
}
.quoteinfo th
{
    text-align: right;
}
.quoteinfo th,
.quoteinfo td
{
    padding: .4em;
}
.loginwarning
{
    font-weight: bold;

    display: none;

    padding-left: 2em; 

    background: yellow;
}

.submit,
.create
{
    display: inline-block;
}

.submit:hover,
.create:hover
{
    background-color: orange;
}