* { 
  margin: 0; 
  padding: 0; 
/*  line-height: 1.2em; */
  font-weight: 100;
  font-family: Helvetica, FreeSans, Arial, 'Bitstream Vera Sans', sans-serif;
  text-decoration: none;
}

.login { text-align: right; clear: both; color: black; padding-top: 0.2em;
    padding-right: 15px;  }

.main-section { background-color: white; }

.tidbit a { color: black }

a.votedown span { font-size: 8pt; }

tr.tidbit:hover { background-color: rgba(128, 128, 128, 0.35); }

.tabs { 
  /*padding: 0.2em; */
  background-color: #C1C1C1;
  display: flex;
  /*  justify-content: space-around; */
  }

td {
    padding-top: 15px;
    padding-bottom: 15px;
}

table {
  padding-left: 50px;
  padding-right: 50px;
}

.logo { height: 65px;}

.submit_tidbit { margin: 2em; 
    background-color: white;
}
.submit_tidbit p { padding: 0.2em; 
    background-color: white;
}
.votecontrols { float: left }
.quoteid { display:none }
.del { padding-right: 1em }
.error { color: red; font-weight: bold }
.gamehint { display: none; background: yellow; color: black; }
.next { padding-left: 3em; padding-top: 1em; background-color: white;}

.nav { margin-left: 0.5em; margin-right: -0.2em; }
.nav a {  color: white; }
.nav a.active {background-color: orange; }

.{{ section }} a { color: gray;}

.voteup, .votedown { vertical-align: middle; cursor: pointer }
.index { padding-right: 0.5em; }
.quote { width: 100%; padding: 0.5em }
.quoteinfo { padding: 1em; padding-left: 2em; }
.quoteinfo th { text-align: right }
.quoteinfo th, .quoteinfo td { padding: 0.4em }
.loginwarning { font-weight: bold; background: yellow; display: none; padding-left: 2em; }

.submit, .create {
    display: inline-block;
}

.submit:hover, .create:hover {
    background-color: orange;
}

