{% if loggedin %}
	<div class="submit_tidbit">

		<div style="background-color: lightgray; color: white;">
			<span style="background-color:orange; color:white;"><a style="color:white;" href="/submit">Link</a></span>
			<span style="color:white;"><a style="color:white;" href="/submittext">Text</a></span>
		</div>
{#		<p class="tabs">#}
{#		</p>#}


		<div class="linkpost">

		</div>

		<div class="textpost">

		</div>

		<form action="/" method="post">
			<p>Submit New Link: </p>
			<p><label>Title: </label><input class="align-input" type="text" name="tidbittitle"></p>

{#			<p><label>Text: </label><textarea class="align-input" name="newtidbit" rows="12" cols="40"></textarea></p>#}

			<p><label>Link: </label><input class="align-input" type="text" name="tidbituri" value=""></p>

			<p><label>Topic: </label><input class="align-input" type="text" name="tidbittopic" value=""></p>

			<p><input type="submit" value="Add" class="align-input add-button"/></p>
		</form>
	</div>
{% endif %}


