<table class="quoteinfo">
    {% for quote in quotes %}
		<tr>
			<th>Topic:</th>
			<td>{{ quote.topic }}</td>
		</tr>
		<tr>
			<th>UpVotes:</th>
			<td>{{ quote.up_votes}}</td>
		</tr>
		<tr>
			<th>DownVotes:</th>
			<td>{{ quote.down_votes}}</td>
		</tr>
		<tr>
			<th>Created:</th>
			<td>{{ quote.created }}</td>
		</tr>
	    <tr>
	        <th>Comments:</th>
	    </tr>
		<tr>
			<th></th>
			<td>
				<ul>
                    {% for comment in comments %}
						<li>
                            {{ comment.quote }}
						</li>
                    {% endfor %}
				</ul>
			</td>
		</tr>
		<tr>
			<th></th>
			<td>
                {% if loggedin %}
					<div>
						<form action="/post/{{ quote.id }}" method="post">
							<p><label class="new-comment-label">New Comment: <br> <textarea name="newcomment" rows="12"
							                                      cols="40"></textarea></label></p>

							<p><input type="submit" value="Comment"/></p>
						</form>
					</div>
                {% endif %}

			</td>
		</tr>
    {% endfor %}
</table>
  

