<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/base.css">

    <title> Reddit on Zenefits 
    {% if section %}    
      | {{ section }}
    {% endif %}
    </title>
        
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.js"></script>
    <script src="/js/vote.js"></script>
    <link rel="alternate" type="application/atom+xml" href="/feed/popular/" title="Popular">
    <link rel="alternate" type="application/atom+xml" href="/feed/recent/" title="Recent">
  </head>
  <body>

    <div class="titlebar" >
      <a href="/">
      <img src="/images/logo-zenefits-light.png" alt="Zenefits" class="logo">
      </a>

      <h1><a href ="/">Reddit on Zenefits</a></h1>
       
       <p class="tabs">
         <span class="nav Popular"><a href="/">popular</a></span> 
         <span class="nav Recent"><a href="/recent/">recent</a></span>
       </p>

    </div>

    <div class="main-section">

    <div class="login" >
      {{ greeting|safe }} <br/>

{#      <img title="Can you get all the stars?" src="/images/progress{{ progress_id }}.png"/><br/>#}
      <span class="gamehint">{{ progress_msg }}</span><br/>
    </div>   
    
    <p class="loginwarning">You must be logged in to vote.</p>   

  
    {% block body %}

    {% endblock %}
    </div>

  </body>
</html> 
