{% if loggedin %}
	<div class="submit_tidbit">

		<div style="background-color: lightgray; color: white;">
			<span style="background-color:orange; color:white;"><a style="color:white;" href="/submit">Link</a></span>
			<span style="color:white;"><a style="color:white;" href="/submittext">Text</a></span>
		</div>
{#		<p class="tabs">#}
{#		</p>#}


		<div class="linkpost">

		</div>

		<div class="textpost">

		</div>

		<form action="/" method="post">
			<p>New Submission: </p>
			<p><label>Title: <input type="text" name="tidbittitle"></label></p>

{#			<p><label>Text: <br> <textarea name="newtidbit" rows="12" cols="40"></textarea></label></p>#}

			<p><label>Link: <input type="text" name="tidbituri" value=""></label></p>

			<p><label>Topic: <input type="text" name="tidbittopic" value=""></label></p>

			<p><input type="submit" value="Add" style="background-color: orange; border-style: none; height: 60px; width: 200px;"/></p>
		</form>
	</div>
{% endif %}


