<table class="tidbits">
    {% for quote in quotes %}

	<tr class="tidbit">

		<td class="index"><a href="/quote/{{ quote.id }}">{{ quote.index }}</a></td>


		<td>
            {% ifequal quote.voted 1 %}
            {#				<img src="/images/up.png" class="voteup"/>#}
			<a href="#" class="voteup">&#x25b2; <span>({{ quote.up_votes }})</span></a>
            {% else %}
            {#				<img src="/images/up-grey.png" class="voteup"/>#}
			<a href="#" class="voteup">&#x2206; <span>({{ quote.up_votes }})</span></a>
            {% endifequal %}
            {% ifequal quote.voted -1 %}
                {#				<img src="/images/down.png" class="votedown">#}
				<a href="#" class="votedown">&#x25bc; <span>({{ quote.down_votes }})</span> </a>
                {% else %}
                {#				<img src="/images/down-grey.png" class="votedown">#}
				<a href="#" class="votedown">&#x2207; <span>({{ quote.down_votes }})</span></a>
            {% endifequal %}

		</td>


		<td class="quote">
            {% if quote.uri %}
				<a href="{{ quote.uri|escape }}"><span class="quoteid">{{ quote.id }}</span> {{ quote.quote|escape }}
					<small>(<a href="/quote/{{ quote.id }}"><b>comments</b></a>)</small>
					<br>
				</a><sub>
				<small><a href="/z/{{ quote.topic|escape }}"><span
						class="quoteid">{{ quote.id }}</span> /z/{{ quote.topic|escape }}
				</a></small>
			</sub><br>
            {% else %}
				<span class="quoteid">{{ quote.id }}</span> {{ quote.quote|escape }}
				<small>(<a href="/quote/{{ quote.id }}"><b>comments</b></a>)</small>
				<br>
				<sub>
					<small><a href="/z/{{ quote.topic|escape }}"><span
							class="quoteid">{{ quote.id }}</span> /z/{{ quote.topic|escape }}
					</a></small>
				</sub><br>
            {% endif %}
		</td>

        {#		<td class="quote">#}
        {##}
        {#            {% ifnotequal quote.topic None %}#}
        {#				<a href="/z/{{ quote.topic|escape }}"><span#}
        {#						class="quoteid">{{ quote.id }}</span> {{ quote.topic|escape }}#}
        {#				</a><br>#}
        {#            {% else %}#}
        {#				<span class="quoteid">{{ quote.id }}</span> {{ quote.topic|escape }} <br>#}
        {#            {% endifnotequal %}#}
        {##}
        {#		</td>#}
	</tr>
    {% endfor %}
</table>

<p class="next">
    {% if prevuri %}
		<a href="{{ prevuri }}">Previous</a>
    {% endif %}


    {% if nexturi %}
		<a href="{{ nexturi }}">Next</a>
    {% endif %}
</p>


