{% if loggedin %}
	<div class="submit_tidbit">


		<div style="background-color: lightgray; color: white;">
			<span style="color:white;"><a style="color:white;" href="/submit">Link</a></span>
			<span style="background-color:orange; color:white;"><a style="color:white;"
			                                                       href="/submittext">Text</a></span>
		</div>


        {#		<p class="tabs">#}
        {#		</p>#}


		<div class="linkpost">

		</div>

		<div class="textpost">

		</div>


		<div>
			<form action="/" method="post">
				<p>Submit New Text: </p>

				<p><label>Title: </label><input class="align-input" type="text" name="tidbittitle"></p>

				<p><label>Text: </label><textarea class="align-input" name="newtidbit" rows="12" cols="40"></textarea></p>

                {#			<p><label>Link: </label><input class="align-input" type="text" name="tidbituri" value=""></p>#}

				<p><label>Topic: </label><input class="align-input" type="text" name="tidbittopic" value=""></p>

				<p><input class="align-input add-button" type="submit" value="Add"/></p>
			</form>
		</div>
	</div>
{% endif %}


